@*<div id="n4p_30893">Loading...</div>
    <script type="text/javascript" charset="utf-8">
      (function(d,s){
        var o=d.createElement(s);
        o.async=true;
        o.type="text/javascript";
        o.charset="utf-8";
        if (location.protocol == "https:") {
          o.src="https://js-ua.redtram.com/n4p/0/30/ticker_30893.js";
        }
        else {
          o.src="http://js.ua.redtram.com/n4p/0/30/ticker_30893.js";
        }
        var x=d.getElementsByTagName(s)[0];
        x.parentNode.insertBefore(o,x);
      })(document,"script");
    </script>
*@