@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Сторінка не знайдена чи виникла помилка.";
}

<h1 class="text-danger">Сторінка не знайдена чи виникла помилка.</h1>
<h2 class="text-danger">Спробуйте пізніше чи перейдіть на іншу сторінку.</h2>

