@{
    ViewBag.Title = "Про нас";
}
<h2>@ViewBag.Title</h2>

"Моє місто" - незалежний інтерактивний інформаційний майданчик, відкритий для всіх мешканців Києва.
"Моє місто" - це можливість дізнатися останні новини з життя мегаполіса, знайти найкраще місце для відпочинку, висловити свою точку зору і познайомитися з однодумцями.

Не важливо, звідки кожен з нас, але сьогодні ми всі мешканці одного великого Міста, яке вважаємо своїм.

<address style="margin-top: 20px;">
    <strong>Пишіть нам:</strong> <a href="mailto:info@moemisto.com.ua">info@moemisto.com.ua</a>
    <br/>
    <strong>Технічна підтримка:</strong> <a href="mailto:solarwind@bigmir.net">solarwind@bigmir.net</a>
</address>

<h3>Інформація для рекламодавців</h3>

<address>
    <strong>З питань рекламної співпраці звертайтесь:</strong> <a href="mailto:info@moemisto.com.ua">info@moemisto.com.ua</a>
</address>