@{
    ViewBag.Title = "Мапа сайту";
}

<ul>
    <li><a href="@Url.Action("Index", "Home")">Головна</a></li>
    <li>
        Всі новини та статті
        <ul>
            <li><a href="@Url.Action("Index", "News")">Новини</a></li>
            @* треба лінк на лише новини, а не на Індекс ньюсів*@
            <li>Культурні новини</li>
            <li>Політичні новини</li>
            <li>Спортивні новини</li>
            <li>Суспільні новини</li>
            <li>Новини про транспорт</li>
            <li>Статті</li>
            <li>Статті про культуру</li>
            <li>Користні поради</li>
            <li>Статті про суспільство</li>
        </ul>
    </li>
</ul>